
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}="1209", ATTR{idProduct}=="ce93", GROUP="dialout"

ACTION=="add", SUBSYSTEM=="tty", ATTRS{product}=="GPS Freak", SYMLINK+="freak-$env{ID_SERIAL_SHORT}"
